name: bring-it

on:
  push:
    branches:
      - master

jobs:
  test:
    strategy:
      matrix:
        os:
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Run
        uses: airkro/bring-it@actions-oidc

  publish:
    needs: [test]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Run
        uses: airkro/bring-it@actions-oidc
